<header class="main_head">
        <div class="top_head">
            <div class="container">
            
            <div class="row">
            
            <div class="col-md-12">
            
            <div class="welcom">
        
          <marquee> Due to new safety policies of Covid 19, expect some delay in delivery of orders</marquee>
    
            </div>
         
            
            </div>
            
            </div>
            
            
            </div>
            </div>
            <div class="brand_div">
              <div class="container">
                     <div class="row">
                         <div class="col-md-12">
                             <div class="brand">
                             <img src="Images/high resolution logo.png">
                                 <h2>Luxurious Ayurvedic Gold</h2>
                             </div>
                         </div>
                     </div>
              </div>
              </div>
                       
                       <section class="nav_div">
                        <div class="container-fluid">
                          <div class="row">
                           
                            <div class="col-md-12">
                              <div class="nav_bar">
                                
                                
                                <div class="menu_div">
                                  <ul>
                                    <li><a href="/">Home</a></li>
                                   
                                    <li><a href="/skincare">Skin Care</a><i class="fa fa-plus"></i>
                                    <div class="dropdown">
                                      
                                      <ul>
                                        <li><a href="/cream">Cream</a></li>
                                          <li><a href="/scrub" > Scrub</a></li>
                                          <li><a href="/mask" > Mask</a></li>
                                          <li><a href="/toner" >Toner</a></li>
                                          <li><a href="mist" >Mist</a></li>
                                          <li><a href="facewash" >Face Wash</a></li>
                                       </ul>
                                      
                                    
                                    </div>
                                    
                                    </li>
                                    
                                    <li><a href="/haircare">Hair Care</a><i class="fa fa-plus"></i>
                                      <div class="dropdown">
                                                            
                                        <ul>
                                      <li><a href="/shampoo" >  Shampoo</a></li>
                                        <li><a href="/conditioner" > Conditioner</a></li>
                                        <li><a href="/oil" > Oil</a></li>
                                        <li><a href="/serum" > Serum</a></li>
                                        <!-- <li><a href="" > </a></li> -->
                                     </ul>
                                    </div></li>
                                    <li><a href="/bodycare">Body Care</a><i class="fa fa-plus"></i>
                                      <div class="dropdown">
                                                            
                                        <ul>
                                      <li><a href="/lotion" >Lotion</a></li>
                                        <li><a href="/scrub" > Scrub</a></li>
                                        <li><a href="/bodywash" > Body Wash</a></li>
                                        <!-- <li><a href="" > Heel guard cream</a></li>
                                        <li><a href="" > Beard oil</a></li>
                                        <li><a href="" > Stretch marks remover gel</a></li>
                                        <li><a href="" >Activated Charcoal Teeth Whitening Powder</a></li> -->
                                        
                                        
                                     </ul>
                                    </div></li>
                                    
                                    <li><a href="/baby">Baby</a><i class="fa fa-plus"></i>
                                      <div class="dropdown">
                                                            
                                        <ul>
                                      <li><a href="/babyshampoo" >Baby Shampoo</a></li>
                                        <li><a href="/babyhairoil" >Baby Hair Oil</a></li>
                                        <li><a href="/babymassageoil" >Baby Masssage Oil</a></li>
                                        <li><a href="/babytoothpaste" >Baby Tooth Paste</a></li>
                                        <li><a href="/babycream" >Baby Cream</a></li>
                                        <li><a href="/babydustingpowerd" >Baby dusting Powerd</a></li>
                                        <!-- <li><a href="" >Activated Charcoal Teeth Whitening Powder</a></li>
                                         -->
                                        
                                     </ul>
                                    </div>
                                    </li>
                                    <li><a href="/men">Men</a><i class="fa fa-plus"></i>
                                      <div class="dropdown">
                                                            
                                        <ul>
                                      <li><a href="/mensshampoo" >Mens Shampoo</a></li>
                                        <li><a href="/mensconditioner" >Mens Conditioner</a></li>
                                        <li><a href="/beardoil" > Beard Oil</a></li>
                                        <li><a href="/beardwash" > Beard Wash</a></li>
                                        <li><a href="/beardwax" > Beard Wax</a></li>
                                        <li><a href="/menshairoil" >Mens Hair Oil</a></li>
                                        <li><a href="/hairwax" >Hair Wax</a></li>
                                        <li><a href="/detantcleanfacewash" >Detant Clean Face Wash</a></li>
                                        
                                        
                                     </ul>
                                    </div></li>
                                    <li><a href="/healthcare">Health Care</a><i class="fa fa-plus"></i>
                                      
                                      <div class="mega_box">
                                        <div class="content">
                                          
                                            <ul class="mega_link">
                                              <li><a href="/pilescurecapsules" > Piles cure capsules</a></li>
                                              <li><a href="/glucontrolcapsules" > Glu control capsules</a></li>
                                              <li><a href="/noniextractcapsules" > Noni extract capsules</a></li>
                                              <li><a href="/amlaextractcapsules" > Amla extract capsules</a></li>
                                              <li><a href="/greencoffeebeanscapsules" >   Green coffee beans capsules</a></li>
                                            </ul>
                                         
                                          
                                            <ul class="mega_link">
                                              <li><a href="/goliyextractcapsules" > Goliy extract capsules</a></li>
                                              <li><a href="/fatfreecapsules" > Fat free capsules</a></li>
                                              <li><a href="/greenlippedcapsules" > Green lipped capsules</a></li>
                                              <li><a href="/jointremedypainreliefgel" > Joint remedy pain relief gel</a></li>
                                              <li><a href="/jointremedysachet" > Joint remedy  sachet</a></li>
                                            </ul>
                                        
                                      
                                            <ul class="mega_link">
                                              <li><a href="/madirakillersachet" > Madira killer sachet</a></li>
                                              <li><a href="/weightonweightgainsachet" > Weight on weight gain sachet</a></li>
                                              <li><a href="/stratchmarksremovergel" > Stratch marks remover gel</a></li>
                                            </ul>
                                          </div>
                                      
                                      </div>
                                  </li>
                                    <li><a href="/sexualwellness">Sexual & Wellness</a><i class="fa fa-plus"></i>
                                      <div class="dropdown">
                                                                
                                        <ul>
                                      <li><a href="/ashwauttejnaoil" >  Ashwa uttejna oil</a></li>
                                        <li><a href="/brexelantcream" >Brexelant cream ( breast massage)</a></li>
                                        <li><a href="/vaginaltighteninggel" > Vaginal tightening gel</a></li>
                                       
                                     </ul>
                                    </div></li>
                                    
                                  </ul>
                                  <input type="checkbox" id="check">
                                  <label for="check"><i class="fa fa-bars" id="bar_icon"></i>
                                  <i class="fa fa-times" id="cancel_icon"></i></label>
                                </div>
                                <div class="search_div pull-left">
                                  <a href="" class="search_btn"><i class="fa fa-search"></i></a>
                                  <input  class="search_text" type="text" name="" placeholder="Search..."></div>
                                <div class="cart_div pull-right"   >
                                  <ul>
                                            
                                    <li><a href="/signin" alt="login"><i class="fa  fa-user">Profile</i></a></li>
                                    <li><a href="/register"><i class="fa fa-sign-out">Register</i></a></li>
                      
                                    <li><a href=""><i class="fa fa-shopping-cart">Cart</i></a></li>
                                    {{!-- <li><a href=""><i class="fa fa-heart"></i></a></li>   --}}
                                    
                                 </ul>
                                </div>
                              </div>
                            </div>
                            </div>
                      
                        </div>
                      </section>
                         
                               </div>
                               </div>
                          </div>
                         </div>
             
    </header>